<nav>
    <div class="nav">
        <ul class="navbar">
            <li class="navList"><a class="navLista" href="/">Kalender</a></li>
            <li class="navList"><a class="navLista" href="/auth/opretRevisor">Opret revisor</a></li>
            <li class="navList"><a class="navLista" href="/Login">Revisor login</a></li>
            <li class="navList"><a class="navLista" href="/revisorprofil">Revisor profil</a></li>
        </ul>
    </div>
</nav>