<nav>
    <div class="nav">
        <ul class="navbar">
            <li class="navList"><a class="navLista" href="index.ejs">Kalender</a></li>
            <li class="navList"><a class="navLista" href="opretRevisor.ejs">Opret revisor</a></li>
            <li class="navList"><a class="navLista" href="Login.ejs">Revisor login</a></li>
            <li class="navList"><a class="navLista" href="revisorLoginside.ejs">Revisor login</a></li>
        </ul>
    </div>
</nav>