<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projekt 0</title>
    <link rel="stylesheet" href="/style.css">
</head>
<%- include('layouts/navbar');-%>
<body>

    <!-- For at kunne samle de to bokse, som udgør programmet.
    Mother er "mainContainer" og siblings er "optionContainer" og "calenderContainer" -->
    <div class="mainContainer">
        <div class="step1Container">
            <div class="optionContainer">
                <!-- Der er lavet drop-down menubarer, for henholdsvis valg af revisorer og valg af møde længde -->
                Vælg din ønskede afdeling: <br>
                <select id="revisorOption">
                    <% for (var i=0; i< afdelings.length; i++) { %>
                    <option><%=afdelings[i].afdelingNavn%></option>
                    <% } %>
                </select><br><br>
                Vælg mødelængde: <br>
                <select id="mødeOption">
                    <option value = "0.5" selected> 30 min</option>
                    <option value = "1"> 1 time</option>
                </select>
           <br><br>
                <label for="dato">Vælg dato og tid:</label>
                <input type="datetime-local" id="dato" name="dato">

                <div id="opretMødeContainer">
                    <h3>Indtast dine oplysninger</h3>
                    <form id="opretMødeForm" action="/revisor/moede" method="POST">
                        <label for="kundenavn">Navn:</label><br>
                        <input type="text" name="kundenavn" id="kundenavn" placeholder="Dit navn"><br>

                        <label for="tlfnr">Tlf:</label><br>
                        <input type="number" name="tlf" id="tlfnr" placeholder="Tlf nummer"><br>

                        <label for="mail">Mail:</label><br>
                        <input type="email" name="email" id="mail" placeholder="E-mail"><br>

                        <label for="mødetype">Hvilken revisor ønsker du at benytte?:</label><br>
                        <select id="brugernavn" name="brugernavn" >
                            <option selected disabled value="0">  Vælg  </option>
                            <% for (var i=0; i< revisors.length; i++) { %>
                            <option><%=revisors[i].Brugernavn%></option>
                            <% } %>
                        </select><br>

                        <label for="kommentar">Kommentar:</label><br>
                        <textarea id="kommentar" name="kommentar" placeholder="Indtast evt. kommentar"></textarea><br><br>

                        <button type="submit" id="bookMødeSubmit" onclick="besked()">Book møde</button>
                        <script>
                            function besked() {
                                alert("Dit møde er booket!");
                            }
                        </script>
                    </form>
                </div>

            </div>
        </div>
    </div>
<!--
    <script src="Kalender.js"></script>
    <script src="../Revisorhus.js"></script>
    <script src="Revisor.js"></script>
    <script src="Møde.js"></script>
    <script src="../Trash/databehandling.js"></script>
    <script src="../main.js"></script>
    <script src="../validation.js"></script>
-->
<!--
    <script>
        document.getElementById("bookMødeSubmit").addEventListener("click", function(e){
            e.preventDefault();
            validereInfo();
        });
    </script>
-->
</body>
</html>