<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>
    <link rel="stylesheet" type="text/css" href="/Login.css">
</head>
<%- include('layouts/navbar');-%>
<body>
    <div id="loginContainer">
        <form action= "/loginRevisor" method="POST" id="loginForm" name="loginRevisor">
            <h2>Login</h2>
            <span id="loginMessage" class="fejlbesked"></span><br><br>
            <div class="tekstboks">
            <input type="text" name="Brugernavn" id="brugernavn" value="" placeholder=" Brugernavn"/><br/>
            </div>
            <div class="tekstboks">
            <input type="password" name="Kodeord" id="password" value="" placeholder=" Password"/><br/>
            </div><br>
            <br/>
            <button type="submit" id="submit" class="Login" style="cursor: pointer">Log ind</button><br><br>
    </form>
    </div>
</body>
</html>