body{
    padding: 0;
    font-family: sans-serif;
}
#oversigt{
    width: 30%;
    float: left;
    position: relative;
    color: black;
    padding: 2%;
    box-sizing: border-box;
}
h1{
    float: top;
    font-size: 40px;
    border-bottom: 4px solid black;
    width: 100%;
    margin-bottom: 1%;
    padding-bottom: 1%;
    color: #008CBA;
}

h3{
    font-size: 20px;
    border-bottom: 2px solid black;
    width: 10%;
    padding-bottom: 0%;
    color: black;
}

.redigerknap {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.redigerknap1 {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

.redigerknap1:hover {
    background-color: #008CBA;
    color: white;
}

#revisorNavn{
    float: top;
    font-size: 20px;
    width: 40%;
    border-bottom: 2px solid black;
    padding-bottom: 1%;
}

h2{
    font-size: 20px;
    border-bottom: 2px solid black;
    width: 20%;
    padding-bottom: 0%;
    color: #008CBA;
}
#logUd{
    font: 12px Arial;
    color: black;
    border: 0.5px solid black;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    border-radius: 5%;
    margin-bottom: 5%;
    margin-top: 1%;
    padding: 1%;
}

#sletmøde{
    font: 12px Arial;
    color: black;
    border: 0.5px solid black;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    border-radius: 5%;
    padding: 0.5%;
}

#sletAllemøder{
    font: 12px Arial;
    color: black;
    border: 0.5px solid black;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    border-radius: 5%;
    padding: 0.5%;
}

#mødeoversigt{
    font: 16px Arial;
    float: right;
    width: 70%;
    box-sizing: border-box;
}

.nav {
    font-family: 'Roboto', 'roboto', sans-serif;
    margin: 2px;
    border: 1px #9b9ea3;
    width: 99%;
    padding: 0.5%;
    text-align: center;
    background-color: #008CBA;
}

.navbar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #008CBA;
}

.navList {
    display: inline;
    padding: 5%;
}

.navLista {
    color: white;
    text-decoration: none;
}

.enkelteMøde {

    padding: 20px 25px;
    margin: 20px 10px;
    box-shadow: 0 1px 20px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
    width: 33%;
    text-align: left;
    display: inline-block;
    line-height: 20px;
}

#sletMøde {
    width: 100%;
    border-radius: 2%;
    background-color: white;
    padding: 2%;
    cursor: pointer;
    border: 0.5px solid black;
    font-size: 15px;
    font-family: bold;

}


.profilKolonne1 {
column-count: 2;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 10px;
    column-rule-color: #008CBA;
    border: 2px solid;

}
